#actions 
  h3 Recent activities on zhihu
  h4 Your recent activities as follows
  p you actioned #{length} times
  p vote up #{voteUp.length} times
  p vote down #{voteDown.length} times
  p answered #{answered.length} questions
  p followed #{followed.length} times
